{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/prefer-stateless-function": 0,
  },
  "parserOptions": {
  "ecmaVersion": 6,
  "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
    "plugins": [
    "react"
  ]
}
