/* NEA design */
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import '../core/geosuggest';

$breakpoint-tablet: 960px;
$breakpoint-mobile: 650px;

div.nea64356 {

     .geosuggest {
        width: 66% !important;
        padding: 0rem 5px;
        @media (max-width: $breakpoint-tablet) {
            flex: 100%;
            padding: 1rem 5px 1px 5px;
            margin: 0 1rem;
        }
        .geosuggest__input {
            border-radius: 4px;
            border: 1px solid #D3D3D3;
            height: 50px !important;
            font-size: 16px;
            width: 100%;
            padding: 5px;
            color: #aaa;
            box-sizing: border-box !important;
        }
        .geosuggest__suggests {
            max-height: 198px;
            overflow-y: auto;
            list-style-type: none;
            position: absolute;
            z-index: 1000;
            .geosuggest__item {
                background-color: #fff;
                color: #333;
                cursor: pointer;
                display: block;
                padding: 8px 10px;
                &:hover {
                    background: rgb(101, 209, 218);
                }
                &--active {
                    background: rgb(101, 209, 218);
                }
            }
        }
    }

    .col-0 {
        flex: 0 0 140px;
    }
    .col-image {
        flex: 0 0 140px;
    }
    .email-link {
        cursor: pointer;
        &:hover {
            color: #ff9d00;
        }
    }
    .header-wrapper {
        padding: 20px 25px;
    }
   
    .header h1, .header h2 {
        text-align: left;
    }
    p.certification {
        font-size: 12px;
        color: #4A4A4A;
    }
    a.website-link {
        color: #84a331;
    }
    .doctor-item {
        border: 1px solid #d6eef9;
        margin-bottom: 40px;
        background: #fff;
        &:hover {
            -webkit-box-shadow: 0 3px 5px 1px rgba(100, 100, 100, 0.3);
            box-shadow: 0 3px 5px 1px rgba(100, 100, 100, 0.3);
        }
    }
    .doctors.page-bg {
        background: #e7e7e7;
        max-width: 100%;
    }
    .image-wrapper {
        background: #10c4ee;
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 50px;
    }
    .doctor-title {
        color: #00478a;
        font-size: 16px;
    }
    .text-style {
        color: #5c5b5c;
    }
    .col.general-text {
        p {
            margin-bottom: 20px;
        }
    }
    .FilterBar {
        background: #fff;
        p.label {
            color: #84a331;
        }
    }
    .toggle-filters-text {
          color: #10c4ee;
    }
    .find-provider-text {
        color: #84a331;
        text-align: left;
    }
    .doctorsHeader {
        border-bottom: none;
    }
    .customFilters {
        border: none;
    }
    .DoctorCount {
        text-align: left;
        padding: 2em;
    }
    .doctors-wrapper {
        width: 75%;
        margin: 0 auto;
    }
}