.LocationSearchContainer {
  .Select {
    width: 97%;
    margin: 0 1em;
    &:nth-of-type(2),
    &:nth-of-type(3) {
      width: 30%;
      @media (max-width: $breakpoint-mobile) {
        width: 100%;
        padding: 1rem 5px;
      }
    }
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      padding: 1rem 5px;
    }
  }
  @media (max-width: $breakpoint-mobile) {
    flex-wrap: wrap;
  }
}