/* NAAF design */
@import url('https://fonts.googleapis.com/css?family=Roboto');
div.naaf87561 {
    color:#5c5b5c;
    font-family: 'Roboto', sans-serif;
    /* table header columns */
    .col-0 {
     p {
         text-align: center;
     }
    }
    .col-1 {
       flex: 0 0 17%;
    }
    .col-2 {
      flex: 0 0 17%;
    }
    .col-3 {
      flex: 0 0 17%;
    }
    .col-4 {
      flex: 0 0 17%;
      p {
         text-align: center;
     }
    }
    /* table columns */
    .col-main-1 {
     flex: 0 0 15%;
    }
    .col-main-2 {
     flex: 0 0 55%;
    }
    .col-main-3 {
     flex: 0 0 15%;
    }
    .col-main-4 {
       flex: 0 0 15%;
    }
    /* Header */
    h1 {
        font-size: 48;
        font-weight: normal;
        color: rgb(74, 74, 74);
    }
    h2 {
        font-size: 30;
        font-weight: normal;
        color: rgb(101, 209, 218);
    }
    .header {
        text-align: left;
        background: #F7F7F7;
        max-width: 75%;
        margin: auto;
        min-width: 960px;
        padding-bottom: 0;
    }
    .header-wrapper {
        padding: 20px 25px;
    }
    .find-provider-text, .filterToggleButton .button {
        text-align: left;
        text-transform: none;
            padding: 0 15px;
    }
    .filterToggleButton button {
        color: #65d1db;
        font-family: 'Roboto', sans-serif;
        padding: 10px 0px;
    }
    .doctor-item {
        background: red;
    }
    .link-button {
        background: #65d1db;
        color: white;
        border: none;
        padding: 10px 20px;
        width: 150px;
        border-radius: 2px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
    }
    .designation-block {
        max-width: 70%;
    }
    .video-link {
        width: 90px;
        cursor: pointer;
        font-size: 14px;
        display: block;
        text-align: center;
        font-weight: 400;
        color: rgb(155, 155, 155);
        &:hover {
            color: #65d1db;
        }
    }
    .doctor-item {
        border-bottom: 1px solid #e3f7f9;
        background: #ffffff;
    }
    .DoctorCount, .FilterBar {
        background: #f7f7f7;
        text-align: left;
        padding: 15px;
    }
    .DoctorCount p {
        text-align: left;
        text-transform: none;
        margin-bottom: 0;
    }
    .doctorsHeader {
        background: #fff;
        .col p{
            color: #5c5c5c;
        }
    }
    .Select-control {
        border-radius: 3px;
        border:1px solid #D3D3D3;
    }
    .FilterBar .customFilters {
        border: none;
        padding: 15px 10px;
        .space {
            padding: 1rem 5px;
        }
    }
   
    p.label {
        color: #5c5c5c;
    }
    .doctor-image {
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 50px;
        background: #eee;
    }
  
    .name-line {
        font-weight: 400;
    }
    .address-line {
        font-weight: 400;
        color: rgb(155, 155, 155);
    }
}